.destination{
    background-image: url(../../../public/assets/destination/background-destination-desktop.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    padding-top: calc(136px + 76px);
    &__content{
        margin-bottom: 80px;
        &--heading{
            span{
                font-weight: bold;
                margin-right: 28px;
                mix-blend-mode: normal;
                opacity: 0.25;
            }
        }
    }
    &__details{
        display: flex;
        align-items: center;
        margin-top: 64px;
        &--left{
            width: 50%;
            text-align: center;
        }
        &--right{
            width: 50%;
            padding-left: 130px;
            h2{
                text-transform: uppercase;
            }
            p{
                margin-top: 14px;
                margin-bottom: 54px;
                font-weight: normal;
                line-height: 32px;
                color: $secondary;
            }
        }
    }
    &__planet{
        padding-top: 28px;
        display: flex;
        align-items: center;
        border-top: 1px solid $primary-light;
        &--destination{
            margin-right: 79px;
        }
        .subheading-secondary{
            display: inline-block;
            margin-bottom: 14px;
            line-height: 17px;
            color: $secondary;
        }
    }
    &__navigation{
        margin-bottom: 37px;
        &--list{
            display: flex;
            gap:35px;
        }
        &--item{
            list-style: none;
            font-family: Barlow Condensed;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
            color: $secondary;
        }
    }
}